<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<%= render :partial => 'js_head' %>

<h1><%= t(:taxonomy_edit) %></h1>

<p id="ajax_error" class="errorExplanation" style="display:none;"></p>

<%= form_for [:admin, @taxonomy] do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <div>
    <%= label_tag nil, t(:tree) %><br />
    <div id="taxonomy_tree" class="tree" data-url="<%= admin_taxonomy_taxons_path @taxonomy %>"></div>
  </div>
  <p id="progress" style="display:none;">
    <%= image_tag 'spinner.gif', :title => 'Spinner', :style => "vertical-align:bottom;" %> <%= t(:updating) %>..
  </p>
  <p><br /><small><%= t(:taxonomy_tree_instruction) %></small></p>


  <p class="form-buttons">
    <%= button t(:update) %> <%= t(:or) %> <%= link_to t(:cancel), admin_taxonomies_path %>
  </p>
<% end %>
<% @taxonomy = Spree::Taxonomy.find(params[:id]) %>
<%@taxon = @taxonomy.taxons.find_by_parent_id(nil)%>
<% @products = @taxon.products %>
<div id="selected-products" data-hook>
  <%= render(:partial => 'product_table', :locals => { :products => @products }) %>
</div>

<% form_tag '#' do %>
  <%= label_tag nil, t(:search) %>:
  <input id="searchtext" size="25" />
<% end %>


<% content_for :head do %>
  <%= javascript_tag do -%>
    var initial = [
    { "attr" :
    { "id" : "<%= @taxonomy.root.id %>", "rel" : "root" },
    "data" : "<%= @taxonomy.root.name %>",
    "state" : "open",
    "children" : [
    <% @taxonomy.root.children.each_with_index do |taxon,i| %>
      {
      "attr" :
      { "id" : "<%= taxon.id %>"},
      "data" : "<%= taxon.name %>"
      <% unless taxon.children.empty? %>
        ,"state" : "closed"
      <% end %>
      }<%= ',' if i < (@taxonomy.root.children.size - 1) %>
    <% end %>
    ]
    }
    ];
  <% end -%>
<% end %>

<script>
  function search_for_taxons(){
    $.ajax({
      data: {q: $("#searchtext").val() },
      dataType: 'html',
      success: function(request){
        jQuery('#search_hits').html(request);
      },
      type: 'POST',
      url: '<%= main_app.available_products_for_taxon_path(@taxonomy, :format => 'js') %>'
    });
  }

  $("#searchtext").keypress(function (e) {
    if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
      search_for_taxons();

      return false;
    } else {
      return true;
    }
  });

  $("#searchtext").delayedObserver(function() {
    search_for_taxons();
  }, 0.75);
    </script>
    <br />
    <div id="search_hits" data-hook></div>

