<table class="index" id="listing_orders" data-hook>
  <% manufacture_sales = "#{t(:manufacture)} #{t(:sales)}" %>
  <h1><%= manufacture_sales %></h1>
  <%= form_tag('manufacture_sales_report') do |f| %>
    <fieldset id="expiry_fields">
      <legend><%= t(:select_date_range) %></legend>
      <p id="starts_at_field">
        <%= t(:start_date) %>
        <% start_value = params[:manufacture_sales].present? ? params[:manufacture_sales][:start_date] : '' %>
        <% end_value = params[:manufacture_sales].present? ? params[:manufacture_sales][:end_date] : '' %>
        <%= text_field :manufacture_sales, :start_date, :class => 'datepicker',:value => start_value %>&nbsp;&nbsp;&nbsp;
        <%=  t(:ends_date) %>
        <%= text_field :manufacture_sales, :end_date, :class => 'datepicker' ,:value => end_value %>&nbsp;&nbsp;&nbsp;
        <%= submit_tag t(:update_report_options) ,id: "update_report_options"%>
      </p>
    </fieldset>
  <% end %>
  <br />
  <%if params[:commit].eql?('Update Report Options')%>
    <%= render "manufacture_sales"  %>
  <% end %>

</table>
<%#= paginate @orders %>

<script>
  $("#update_report_options").live("click",function(){
    var start_date = $("#manufacture_sales_start_date").val();
    var end_date = $("#manufacture_sales_end_date").val();
    var alertReason =  'End Date must be greater than or equal to  Start Date.'
    if(start_date != '' && end_date != '' &&  start_date > end_date)
    {
        alert(alertReason);
        return false;
    }
    else if(start_date == ''){
        alert("Please Select Start Date");
        return false;
    }
    else if(end_date == ''){
        alert("Please Select End Date");
        return false;
    }

  });

</script>