<%= hook :admin_manufacture_new_form_header do %>
  <%= render 'spree/shared/error_messages', :target => @manufacture %>
  <h1><%= t("new_manufacture") %></h1>
<% end %>

<%= hook :admin_manufacture_new_form do %>
  <%= form_for(:manufacture, :url => main_app.admin_manufactures_path) do |f| %>
    <%= render :partial => "form", :locals => { :f => f } %>

    <%= hook :admin_manufacture_new_form_buttons do %>
        <%= button t(:create) %>
        <%= t(:or) %> <%= link_to t(:cancel), main_app.admin_manufactures_path %>
    <% end %>
  <% end %>
<% end %>