<p>
  <%= f.label :name ,t(:name)%><br />
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :no_of_rows_to_show ,  t(:no_of_rows_to_show)%><br />
  <%= f.text_field :no_of_rows_to_show,:size=>5 %>
</p>

<p>
  <%= f.check_box :activate %>
  <%= f.label :activate , t(:activate)%>&nbsp;
</p>





