<%= hook :admin_category_edit_form_header do %>
  <%= render 'spree/shared/error_messages', :target => @category %>
  <h1><%= "#{t(:edit)} #{t(:front_page_highlight)}"  %></h1>
<% end %>

<%= hook :admin_category_edit_form do %>
  <%= form_for(:category, :url => main_app.admin_category_url, :html => { :method => :put }) do |f| %>
    <%= render :partial => "form", :locals => { :f => f } %>

   <%= hook :admin_category_edit_form_buttons do %>
      <p class="form-buttons" data-hook="buttons">
        <%= button t(:update) %>
        <%= t(:or) %> <%= link_to t(:cancel), main_app.admin_categories_url %>
      </p>
      <%#= render :partial => "spree/admin/shared/edit_resource_links" %>
    <% end %>
  <% end %>
<% end %>